<a href="https://colab.research.google.com/github/ghassanbaltaji/Anomaly_Detection/blob/main/ML_Thesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectPercentile, f_classif

In [ ]:
# Attach the column names to the dataset
col_names = ["duration","protocol_type","service","flag","src_bytes",
    "dst_bytes","land","wrong_fragment","urgent","hot","num_failed_logins",
    "logged_in","num_compromised","root_shell","su_attempted","num_root",
    "num_file_creations","num_shells","num_access_files","num_outbound_cmds",
    "is_host_login","is_guest_login","count","srv_count","serror_rate",
    "srv_serror_rate","rerror_rate","srv_rerror_rate","same_srv_rate",
    "diff_srv_rate","srv_diff_host_rate","dst_host_count","dst_host_srv_count",
    "dst_host_same_srv_rate","dst_host_diff_srv_rate","dst_host_same_src_port_rate",
    "dst_host_srv_diff_host_rate","dst_host_serror_rate","dst_host_srv_serror_rate",
    "dst_host_rerror_rate","dst_host_srv_rerror_rate","label"]

In [ ]:
data_set = pd.read_csv("/content/drive/MyDrive/kdd_dataset.csv", header=None, names = col_names)

In [ ]:
data_set

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.00,0.00,0.00,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.00,0.00,0.00,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,normal.
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.00,0.00,0.00,0.0,0.0,normal.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494016,0,tcp,http,SF,310,1881,0,0,0,0,...,255,1.0,0.0,0.01,0.05,0.00,0.01,0.0,0.0,normal.
494017,0,tcp,http,SF,282,2286,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,normal.
494018,0,tcp,http,SF,203,1200,0,0,0,0,...,255,1.0,0.0,0.06,0.05,0.06,0.01,0.0,0.0,normal.
494019,0,tcp,http,SF,291,1200,0,0,0,0,...,255,1.0,0.0,0.04,0.05,0.04,0.01,0.0,0.0,normal.
494020,0,tcp,http,SF,219,1234,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,normal.

In [ ]:
# Dimensions of the dataset
print('Dimensions of the Training set:', data_set.shape)

Dimensions of the Training set: (494021, 42)

In [ ]:
# first five rows
data_set.head(5)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal.

In [ ]:
data_set.describe()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
count,494021.000000,4.940210e+05,4.940210e+05,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,...,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000
mean,47.979302,3.025610e+03,8.685324e+02,0.000045,0.006433,0.000014,0.034519,0.000152,0.148247,0.010212,...,232.470778,188.665670,0.753780,0.030906,0.601935,0.006684,0.176754,0.176443,0.058118,0.057412
std,707.746472,9.882181e+05,3.304000e+04,0.006673,0.134805,0.005510,0.782103,0.015520,0.355345,1.798326,...,64.745380,106.040437,0.410781,0.109259,0.481309,0.042133,0.380593,0.380919,0.230590,0.230140
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,4.500000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,46.000000,0.410000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,5.200000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.040000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,58329.000000,6.933756e+08,5.155468e+06,1.000000,3.000000,3.000000,30.000000,5.000000,1.000000,884.000000,...,255.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
print(data_set.dtypes)

duration                         int64
protocol_type                   object
service                         object
flag                            object
src_bytes                        int64
dst_bytes                        int64
land                             int64
wrong_fragment                   int64
urgent                           int64
hot                              int64
num_failed_logins                int64
logged_in                        int64
num_compromised                  int64
root_shell                       int64
su_attempted                     int64
num_root                         int64
num_file_creations               int64
num_shells                       int64
num_access_files                 int64
num_outbound_cmds                int64
is_host_login                    int64
is_guest_login                   int64
count                            int64
srv_count                        int64
serror_rate                    float64
srv_serror_rate                float64
rerror_rate                    float64
srv_rerror_rate                float64
same_srv_rate                  float64
diff_srv_rate                  float64
srv_diff_host_rate             float64
dst_host_count                   int64
dst_host_srv_count               int64
dst_host_same_srv_rate         float64
dst_host_diff_srv_rate         float64
dst_host_same_src_port_rate    float64
dst_host_srv_diff_host_rate    float64
dst_host_serror_rate           float64
dst_host_srv_serror_rate       float64
dst_host_rerror_rate           float64
dst_host_srv_rerror_rate       float64
label                           object
dtype: object

In [ ]:
print('Label distribution: ')
print(data_set['label'].value_counts())
print()

Label distribution:
smurf.              280790
neptune.            107201
normal.              97278
back.                 2203
satan.                1589
ipsweep.              1247
portsweep.            1040
warezclient.          1020
teardrop.              979
pod.                   264
nmap.                  231
guess_passwd.           53
buffer_overflow.        30
land.                   21
warezmaster.            20
imap.                   12
rootkit.                10
loadmodule.              9
ftp_write.               8
multihop.                7
phf.                     4
perl.                    3
spy.                     2
Name: label, dtype: int64

In [ ]:
# explore categorical features
for col_name in data_set.columns:
    if data_set[col_name].dtypes == 'object' :
        number_of_categories = len(data_set[col_name].unique())
        print("Feature '{col_name}' has {number_of_categories} categories".format(col_name=col_name, number_of_categories=number_of_categories))

Feature 'protocol_type' has 3 categories
Feature 'service' has 66 categories
Feature 'flag' has 11 categories
Feature 'label' has 23 categories

In [ ]:
# see how distributed the feature service is, it is evenly distributed and therefore we need to make dummies for all
print()
print('Distribution of categories in protocol_type:')
print(data_set['protocol_type'].value_counts().sort_values(ascending=False).head())

print()
print('Distribution of categories in service:')
print(data_set['service'].value_counts().sort_values(ascending=False).head())

print()
print('Distribution of categories in flag:')
print(data_set['flag'].value_counts().sort_values(ascending=False).head())

Distribution of categories in protocol_type:
icmp    283602
tcp     190065
udp      20354
Name: protocol_type, dtype: int64

Distribution of categories in service:
ecr_i      281400
private    110893
http        64293
smtp         9723
other        7237
Name: service, dtype: int64

Distribution of categories in flag:
SF      378440
S0       87007
REJ      26875
RSTR       903
RSTO       579
Name: flag, dtype: int64

In [ ]:
# The solution to categorical variables is to use dummy coding before passing to the model
categorical_columns=['protocol_type', 'service', 'flag']
data_categorical_values = data_set[categorical_columns]
data_categorical_values.head()

  protocol_type service flag
0           tcp    http   SF
1           tcp    http   SF
2           tcp    http   SF
3           tcp    http   SF
4           tcp    http   SF

In [ ]:
# Make column names for dummies
# protocol type
unique_protocol = sorted(data_set.protocol_type.unique())
string1 = 'Protocol_type_'
unique_protocol2=[string1 + x for x in unique_protocol]
# service
unique_service=sorted(data_set.service.unique())
string2 = 'service_'
unique_service2=[string2 + x for x in unique_service]
# flag
unique_flag=sorted(data_set.flag.unique())
string3 = 'flag_'
unique_flag2=[string3 + x for x in unique_flag]
# put together
dumcols=unique_protocol2 + unique_service2 + unique_flag2
print(dumcols)

['Protocol_type_icmp', 'Protocol_type_tcp', 'Protocol_type_udp', 'service_IRC', 'service_X11', 'service_Z39_50', 'service_auth', 'service_bgp', 'service_courier', 'service_csnet_ns', 'service_ctf', 'service_daytime', 'service_discard', 'service_domain', 'service_domain_u', 'service_echo', 'service_eco_i', 'service_ecr_i', 'service_efs', 'service_exec', 'service_finger', 'service_ftp', 'service_ftp_data', 'service_gopher', 'service_hostnames', 'service_http', 'service_http_443', 'service_imap4', 'service_iso_tsap', 'service_klogin', 'service_kshell', 'service_ldap', 'service_link', 'service_login', 'service_mtp', 'service_name', 'service_netbios_dgm', 'service_netbios_ns', 'service_netbios_ssn', 'service_netstat', 'service_nnsp', 'service_nntp', 'service_ntp_u', 'service_other', 'service_pm_dump', 'service_pop_2', 'service_pop_3', 'service_printer', 'service_private', 'service_red_i', 'service_remote_job', 'service_rje', 'service_shell', 'service_smtp', 'service_sql_net', 'service_ssh', 'service_sunrpc', 'service_supdup', 'service_systat', 'service_telnet', 'service_tftp_u', 'service_tim_i', 'service_time', 'service_urh_i', 'service_urp_i', 'service_uucp', 'service_uucp_path', 'service_vmnet', 'service_whois', 'flag_OTH', 'flag_REJ', 'flag_RSTO', 'flag_RSTOS0', 'flag_RSTR', 'flag_S0', 'flag_S1', 'flag_S2', 'flag_S3', 'flag_SF', 'flag_SH']

In [ ]:
# Transform categorical variables to numerics
data_categorical_values_enc = data_categorical_values.apply(LabelEncoder().fit_transform)
print(data_categorical_values_enc.head())
data_categorical_values.describe()

   protocol_type  service  flag
0              1       22     9
1              1       22     9
2              1       22     9
3              1       22     9
4              1       22     9

       protocol_type service    flag
count         494021  494021  494021
unique             3      66      11
top             icmp   ecr_i      SF
freq          283602  281400  378440

In [ ]:
enc = OneHotEncoder()
data_binary_encoder = enc.fit_transform(data_categorical_values_enc)
data_cat_data = pd.DataFrame(data_binary_encoder.toarray(),columns=dumcols)
data_cat_data.head()

,Protocol_type_icmp,Protocol_type_tcp,Protocol_type_udp,service_IRC,service_X11,service_Z39_50,service_auth,service_bgp,service_courier,service_csnet_ns,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Join encoded data frame with numeric data frame
newdf = data_set.join(data_cat_data)
newdf.drop('flag', axis=1, inplace=True)
newdf.drop('protocol_type', axis=1, inplace=True)
newdf.drop('service', axis=1, inplace=True)
print(newdf.shape)

(494021, 119)

In [ ]:
# Take label column
labeldf = newdf['label']
# Change the label column(0 -> good connection, 1 -> bad connection)
newlabeldf = labeldf.replace({ 'normal.' : 0, 'neptune.' : 1 ,'back.': 1, 'land.': 1, 'pod.': 1, 'smurf.': 1, 'teardrop.': 1,'mailbomb.': 1, 'apache2.': 1, 'processtable.': 1, 'udpstorm.': 1, 'worm.': 1,
                              'ipsweep.' : 1,'nmap.' : 1,'portsweep.' : 1,'satan.' : 1,'mscan.' : 1,'saint.' : 1
                              ,'ftp_write.': 1,'guess_passwd.': 1,'imap.': 1,'multihop.': 1,'phf.': 1,'spy.': 1,'warezclient.': 1,'warezmaster.': 1,'sendmail.': 1,'named.': 1,'snmpgetattack.': 1,'snmpguess.': 1,'xlock.': 1,'xsnoop.': 1,'httptunnel.': 1,
                              'buffer_overflow.': 1,'loadmodule.': 1,'perl.': 1,'rootkit.': 1,'ps.': 1,'sqlattack.': 1,'xterm.': 1})
# Put the new label column back
newdf['label'] = newlabeldf
print(newdf['label'].head())

0    0
1    0
2    0
3    0
4    0
Name: label, dtype: int64

In [ ]:
# Split dataframes into X & Y
# Y_train as the label column
Y2_train = newdf['label']

In [ ]:
# Check Y_train
Y2_train.shape
Y2_train.head

<bound method NDFrame.head of 0         0
1         0
2         0
3         0
4         0
         ..
494016    0
494017    0
494018    0
494019    0
494020    0
Name: label, Length: 494021, dtype: int64>

In [ ]:
# Grab info
print(Y2_train.value_counts())

1    396743
0     97278
Name: label, dtype: int64

In [ ]:
# Create X_train as a dataframe of features
X_train = newdf.drop('label', 1)
X_train.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

(494021, 118)

In [ ]:
colNames=list(X_train)

In [ ]:
# Scale the dataframe
scaler1 = preprocessing.StandardScaler().fit(X_train)
X_train = scaler1.transform(X_train)

In [ ]:
# Feature Selection
# univariate feature selection with ANOVA F-test. using secondPercentile method
# Scikit-learn exposes feature selection routines as objects that implement the transform method
# SelectPercentile: removes all but a user-specified highest scoring percentage of features
# f_classif: ANOVA F-value between label/feature for classification tasks

from sklearn.feature_selection import SelectPercentile, f_classif
np.seterr(divide='ignore', invalid='ignore');
selector=SelectPercentile(f_classif, percentile=10)
X_new = selector.fit_transform(X_train,Y2_train)
X_new.shape

/usr/local/lib/python3.7/dist-packages/sklearn/feature_selection/_univariate_selection.py:112: UserWarning: Features [16 17] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)

(494021, 12)

In [ ]:
# Get the features
true = selector.get_support()
newcolindex = [i for i, x in enumerate(true) if x]
newcolname = list( colNames[i] for i in newcolindex )
newcolname

['logged_in',
 'count',
 'srv_count',
 'srv_diff_host_rate',
 'dst_host_count',
 'dst_host_same_src_port_rate',
 'Protocol_type_icmp',
 'Protocol_type_tcp',
 'Protocol_type_udp',
 'service_ecr_i',
 'service_http',
 'service_smtp']

In [ ]:
print('Features selected:', newcolname)
print()

Features selected: ['logged_in', 'count', 'srv_count', 'srv_diff_host_rate', 'dst_host_count', 'dst_host_same_src_port_rate', 'Protocol_type_icmp', 'Protocol_type_tcp', 'Protocol_type_udp', 'service_ecr_i', 'service_http', 'service_smtp']

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
# Create a decision tree classifier. By convention, clf means 'classifier'
clf = DecisionTreeClassifier(random_state=0)

#rank all features, i.e continue the elimination until the last one
rfe = RFE(clf, n_features_to_select=1)
rfe.fit(X_new, Y2_train)
print ("DoS Features sorted by their rank:")
print (sorted(zip(map(lambda x: round(x, 4), rfe.ranking_), newcolname)))

DoS Features sorted by their rank:
[(1, 'count'), (2, 'dst_host_same_src_port_rate'), (3, 'Protocol_type_udp'), (4, 'service_http'), (5, 'logged_in'), (6, 'dst_host_count'), (7, 'srv_count'), (8, 'Protocol_type_icmp'), (9, 'service_ecr_i'), (10, 'service_smtp'), (11, 'srv_diff_host_rate'), (12, 'Protocol_type_tcp')]

In [ ]:
newdf['label']

0         0
1         0
2         0
3         0
4         0
         ..
494016    0
494017    0
494018    0
494019    0
494020    0
Name: label, Length: 494021, dtype: int64

In [ ]:
final_data = newdf[['logged_in',
                     'count',
                     'srv_count',
                     'srv_diff_host_rate',
                     'dst_host_count',
                     'dst_host_same_src_port_rate',
                     'Protocol_type_icmp',
                     'Protocol_type_tcp',
                     'service_ecr_i',
                     'service_http',
                     'service_smtp',
                     'label' ]]

In [ ]:
final_data

,logged_in,count,srv_count,srv_diff_host_rate,dst_host_count,dst_host_same_src_port_rate,Protocol_type_icmp,Protocol_type_tcp,service_ecr_i,service_http,service_smtp,label
0,1,8,8,0.00,9,0.11,0.0,1.0,0.0,1.0,0.0,0
1,1,8,8,0.00,19,0.05,0.0,1.0,0.0,1.0,0.0,0
2,1,8,8,0.00,29,0.03,0.0,1.0,0.0,1.0,0.0,0
3,1,6,6,0.00,39,0.03,0.0,1.0,0.0,1.0,0.0,0
4,1,6,6,0.00,49,0.02,0.0,1.0,0.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
494016,1,4,5,0.40,86,0.01,0.0,1.0,0.0,1.0,0.0,0
494017,1,6,6,0.00,6,0.17,0.0,1.0,0.0,1.0,0.0,0
494018,1,6,18,0.17,16,0.06,0.0,1.0,0.0,1.0,0.0,0
494019,1,6,12,0.17,26,0.04,0.0,1.0,0.0,1.0,0.0,0
494020,1,6,35,0.14,6,0.17,0.0,1.0,0.0,1.0,0.0,0

In [ ]:
final_data.describe()

,logged_in,count,srv_count,srv_diff_host_rate,dst_host_count,dst_host_same_src_port_rate,Protocol_type_icmp,Protocol_type_tcp,service_ecr_i,service_http,service_smtp,label
count,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000
mean,0.148247,332.285690,292.906557,0.028997,232.470778,0.601935,0.574069,0.384731,0.569611,0.130142,0.019681,0.803089
std,0.355345,213.147412,246.322817,0.142397,64.745380,0.481309,0.494484,0.486532,0.495131,0.336460,0.138903,0.397665
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,117.000000,10.000000,0.000000,255.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,0.000000,510.000000,510.000000,0.000000,255.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,0.000000,511.000000,511.000000,0.000000,255.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,511.000000,511.000000,1.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# Split dataset in features and target variable
feature_cols = ['logged_in',
                'count',
                'srv_count',
                'srv_diff_host_rate',
                'dst_host_count',
                'dst_host_same_src_port_rate',
                'Protocol_type_icmp',
                'Protocol_type_tcp',
                'service_ecr_i',
                'service_http',
                'service_smtp',
                ]
X = final_data[feature_cols] # Features
y = final_data.label # Target variable

In [ ]:
# Split dataset into training set and test set
training_data, testing_data, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1) # 80% training and 20% test

In [ ]:
training_data

,logged_in,count,srv_count,srv_diff_host_rate,dst_host_count,dst_host_same_src_port_rate,Protocol_type_icmp,Protocol_type_tcp,service_ecr_i,service_http,service_smtp
268918,0,511,511,0.0,255,1.00,1.0,0.0,1.0,0.0,0.0
187197,0,511,511,0.0,255,1.00,1.0,0.0,1.0,0.0,0.0
96105,0,511,511,0.0,255,1.00,1.0,0.0,1.0,0.0,0.0
487013,1,1,2,1.0,114,0.01,0.0,1.0,0.0,0.0,1.0
87267,1,18,18,0.0,250,0.00,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
491263,0,2,2,0.0,255,0.01,0.0,0.0,0.0,0.0,0.0
267336,0,511,511,0.0,255,1.00,1.0,0.0,1.0,0.0,0.0
470924,0,115,12,0.0,255,0.00,0.0,1.0,0.0,0.0,0.0
491755,1,2,1,0.0,6,0.17,0.0,1.0,0.0,0.0,1.0
128037,0,202,1,0.0,255,0.00,0.0,1.0,0.0,0.0,0.0

In [ ]:
testing_data

,logged_in,count,srv_count,srv_diff_host_rate,dst_host_count,dst_host_same_src_port_rate,Protocol_type_icmp,Protocol_type_tcp,service_ecr_i,service_http,service_smtp
175542,0,511,511,0.00,255,1.0,1.0,0.0,1.0,0.0,0.0
399593,0,469,469,0.00,255,1.0,1.0,0.0,1.0,0.0,0.0
378282,0,252,13,0.00,255,0.0,0.0,1.0,0.0,0.0,0.0
338019,0,511,511,0.00,255,1.0,1.0,0.0,1.0,0.0,0.0
174680,0,511,511,0.00,255,1.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
315190,0,511,511,0.00,255,1.0,1.0,0.0,1.0,0.0,0.0
189222,0,511,511,0.00,255,1.0,1.0,0.0,1.0,0.0,0.0
88641,1,2,7,0.86,5,0.2,0.0,1.0,0.0,1.0,0.0
340730,0,511,511,0.00,255,1.0,1.0,0.0,1.0,0.0,0.0
249406,0,511,511,0.00,255,1.0,1.0,0.0,1.0,0.0,0.0

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(training_data,y_train)

# Predict the response for test dataset
Decision_Trees_pred = clf.predict(testing_data)

In [ ]:
# Model Accuracy, how often is the classifier correct?
from sklearn import metrics

from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

print("F1 Score: {}".format(f1_score(y_test, Decision_Trees_pred)))
print("Recall score: {}".format(recall_score(y_test, Decision_Trees_pred)))
print("Precision score: {}".format(precision_score(y_test, Decision_Trees_pred)))
print("Accuracy:",metrics.accuracy_score(y_test, Decision_Trees_pred))

F1 Score: 0.9956679338696842
Recall score: 0.9931592274840318
Precision score: 0.9981893462653684
Accuracy: 0.9930570315267446

In [ ]:
cnf_matrix = metrics.confusion_matrix(y_test, Decision_Trees_pred)
cnf_matrix

array([[19285,   143],
       [  543, 78834]])

In [ ]:
import joblib
import os
joblib.dump(clf, "Decision_trees.joblib") 
print(f"Decision Trees size: {np.round(os.path.getsize('Decision_trees.joblib')/1024 / 1024,2) } MB")

Decision Trees size: 0.25 MB

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

#knn = KNeighborsClassifier(n_neighbors = 7)
#knn = KNeighborsClassifier(n_neighbors = 20)
#knn = KNeighborsClassifier(n_neighbors = 35)
knn = KNeighborsClassifier(n_neighbors = 15)

knn.fit(training_data, y_train)

# Predict on dataset which model has not seen before
knn_pred = knn.predict(testing_data)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test, knn_pred))
print("F1 Score: {}".format(f1_score(y_test, knn_pred)))
print("Recall score: {}".format(recall_score(y_test, knn_pred)))
print("Precision score: {}".format(precision_score(y_test, knn_pred)))

Accuracy: 0.9913668336622641
F1 Score: 0.9946120077061554
Recall score: 0.9918616223843179
Precision score: 0.9973776888190732

In [ ]:
cnf_matrix = metrics.confusion_matrix(y_test, knn_pred)
cnf_matrix

array([[19221,   207],
       [  646, 78731]])

In [ ]:
joblib.dump(knn, "K_nearest_neighbor.joblib") 
print(f"K nearest neighbors size: {np.round(os.path.getsize('K_nearest_neighbor.joblib') / 1024 / 1024, 2) } MB")

K nearest neighbors size: 75.62 MB

In [ ]:
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression(max_iter= 1000)

# fit the model with data
logreg.fit(training_data,y_train)

# Evaluate the model
logistic_regression_pred = logreg.predict(testing_data)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, logistic_regression_pred))
print("F1 Score: {}".format(f1_score(y_test, logistic_regression_pred)))
print("Recall score: {}".format(recall_score(y_test, logistic_regression_pred)))
print("Precision score: {}".format(precision_score(y_test, logistic_regression_pred)))

Accuracy: 0.9858711603663782
F1 Score: 0.9911691400665478
Recall score: 0.986973556571803
Precision score: 0.9954005463439426

In [ ]:
# Build confusion matrix
cnf_matrix = metrics.confusion_matrix(y_test, logistic_regression_pred)
cnf_matrix

array([[19066,   362],
       [ 1034, 78343]])

In [ ]:
joblib.dump(logreg, "logistic_regression.joblib") 
print(f"Logistic Regression: {np.round(os.path.getsize('logistic_regression.joblib') / 1024 / 1024 , 4 ) } MB")

Logistic Regression: 0.0014 MB

In [ ]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf = RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(training_data, y_train)

random_forest_pred=clf.predict(testing_data)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, random_forest_pred))
print("F1 Score: {}".format(f1_score(y_test, random_forest_pred)))
print("Recall score: {}".format(recall_score(y_test, random_forest_pred)))
print("Precision score: {}".format(precision_score(y_test, random_forest_pred)))

Accuracy: 0.9932290875967815
F1 Score: 0.9957755817257601
Recall score: 0.9933356009927309
Precision score: 0.9982275788727402

In [ ]:
# Build confusion matrix
cnf_matrix = metrics.confusion_matrix(y_test, random_forest_pred)
cnf_matrix

array([[19288,   140],
       [  529, 78848]])

In [ ]:
print(clf.estimators_[0].tree_.max_depth)

31

In [ ]:
depths = [tree.tree_.max_depth for tree in clf.estimators_]
print(f"Mean tree depth in the Random Forest: {np.round(np.mean(depths))}")

Mean tree depth in the Random Forest: 31.0

In [ ]:
import joblib
import os
joblib.dump(clf.estimators_[0], "first_tree_from_RF.joblib") 
print(f"Single tree size: {np.round(os.path.getsize('first_tree_from_RF.joblib') / 1024 / 1024, 2) } MB")

Single tree size: 0.2 MB

In [ ]:
joblib.dump(clf, "RandomForest_100_trees.joblib") 
print(f"Random Forest size: {np.round(os.path.getsize('RandomForest_100_trees.joblib') / 1024 / 1024, 2) } MB")

Random Forest size: 19.23 MB